html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 40px 40px;
    background: #FAA49A;
    color:#105419;
}

header {
    font-family:"Playfair Display", serif;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 2px;
}


.language-select {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family:"Playfair Display", serif;
    letter-spacing: 0.5px;
}

label {
    font-family:"Playfair Display", serif;
    font-size: 1rem;
    padding-right: 10px;
}

select {
    font-size: 0.9rem;
    padding: 2px 5px;
}

.footer {
    font-family:"Playfair Display", serif;
    font-size: 2rem;
    font-weight: bold;
    text-align: start;
    letter-spacing: 2px;
    margin-top: auto;
    padding: 40px;
    background: #105419;
    color: #FAA49A;
}

